@import url('https://fonts.googleapis.com/css?family=Nunito');
*{
    font-family: 'Nunito', sans-serif; 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F6FAEF;
}
.pcontainer{
    margin: 10px;
}
.prow{
    display: flex;
    flex-wrap: wrap;
}
.tituloPrincipal{
    
    background-color: #1A204E;
    color: white;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

/*--- CSS DA NAVABAR DE TEMPLATE ---*/
#navPrincipal{
    position: relative;
}
#navPrincipal #menuPrincipal{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /*background-color: #0B1721;*/
    background-color: #1A204E;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    /*margin-bottom: 30px;*/
}
#navPrincipal ul{
    list-style: none;
    padding-left: 0px;
}
#menuPrincipal ul li{
    display: inline;
    padding-left: 15px;
}
#navPrincipal a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#navPrincipal a:hover{
    color: cadetblue;
}
#navParte1, #navParte2{
    display: flex;
    align-items: center;
}
/*--- CSS DO SUBMENU DE TEMPLATE ---*/
#submenuPrincipal{
    background-color: #1A204E;
    width: 100%;
    padding: 20px;
    max-height: 300px;
    position: absolute;
    display: none;
    z-index: 4;
    border-top: 1px solid #fff;
}
#submenuPrincipalFlex{
    max-height: 300px;
    width: 100%;
}
#submenuPrincipal ul{
    list-style: none;
    padding-left: 0px;
}
.submenu{
    display: none;
}

/*ESTILO DOS BOTÕES E INPUT TEXT DO SITE*/

.input-workorganize{
    height: 28px;
    border-radius: 7px;
    border: 1px solid #fff;
    outline: none;
    width: 100%;
}
.ms-choice, .ms-parent{
    border: 0px solid #fff !important;
    border-radius: 7px !important;
    flex-basis: 80%;
}
.ms-choice:focus{
    border: 2px solid rgb(175, 221, 252) !important;
    outline: none !important;
}
.input-workorganize:focus{
    border: 2px solid rgb(175, 221, 252);
}
.btn-200px-workorganize{
    background-color: cornflowerblue;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    border: 1px solid #fff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.btn-workorganize{
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 0px 8px 0px 8px;
    height: 20px;
    border: 1px solid #fff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
.btn-100-workorganize{
    background-color: cornflowerblue;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    height: 20px;
    border: 1px solid #fff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.btn-workorganize:hover{
    background-color: #5888dd;
}