@import url('https://fonts.googleapis.com/css?family=Nunito');
*{
    font-family: 'Nunito', sans-serif; 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F6FAEF;
}
.tituloPrincipal{
    
    background-color: #1A204E;
    color: white;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

/*--- CSS DA NAVABAR DE TEMPLATE ---*/
#navPrincipal{
    position: relative;
}
#navPrincipal #menuPrincipal{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /*background-color: #0B1721;*/
    background-color: #1A204E;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    /*margin-bottom: 30px;*/
}
#navPrincipal ul{
    list-style: none;
    padding-left: 0px;
}
#navPrincipal ul li{
    display: inline;
    padding-left: 15px;
}
#navPrincipal a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#navPrincipal a:hover{
    color: cadetblue;
}
#navParte1, #navParte2{
    display: flex;
    align-items: center;
}
/*--- CSS DO SUBMENU DE TEMPLATE ---*/
#submenuPrincipal{
    background-color: #1A204E;
    width: 100%;
    padding: 50px;
    min-height: 300px;
    position: absolute;
    display: none;
    z-index: 4;
    border-top: 1px solid #fff;
}